.create-org{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.org-card{
    border: black solid 1px;
    border-radius: var(---brad);
    padding: 1rem;
    opacity: 0;
    animation: fade-in 1s ease-in forwards;
    min-width: 40rem;
}

.org-form{
    display: grid;
    grid-gap: 0.5rem;
}

.name-input,
.sub-input,
.credit-input,
.create-connect{
    width: 100%;
    padding: 0.5rem;
}


.sub-input{
    cursor: pointer;
}

.error-card{
    border: red solid 1px;
    background-color: rgba(255, 0, 0, 0.205);
    border-radius: var(---brad);
    text-align: center;
    display: grid;
    grid-gap: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
}

.error-txt{
    animation: fade-in 1s ease-in forwards;
}

@keyframes fade-in{
    0% {
      opacity: 0;
    }
    100%{
      opacity:1;
    }
  }