@import url('http://fonts.cdnfonts.com/css/print-clearly');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}

:root{
  ---brad: 0.5em;
  ---up-col: lime;
  ---down-col: red;
  ---bg-col: #121212;
  ---bg-txt-col: #fff;
  ---brdr-col: #fff;
  ---el1-col: #1d1d1d;
  ---el2-col: #212121;
}

body{
  font-family: 'Print Clearly', sans-serif;
  font-size: 1.3rem;
  background-color: var(---bg-col);
  color: var(---bg-txt-col);
}
.inner-body{
  margin: 0 3rem;
}

.med-title{
  font-size: 2rem;
  font-weight: 500;
  margin: 1rem 0;
  text-align: center;
}

.sm-title{
  font-size: 1.7rem;
  font-weight: 500;
  margin: 1rem 0;
  text-align: center;
}
.a-btn{
  border: solid 1px;
  padding: 0.6rem 1rem;
  font-size: 1.3rem;
  border-radius: var(---brad);
  background-color: inherit;
  cursor: pointer;
}
.lrg-title{
  font-size: 3rem;
  font-weight: 500;
  margin: 2rem 0;
  text-align: center;
}
.name-input,
.sub-input,
.credit-input,
.create-connect,
.duration-sel,
.title-input{
  width: 100%;
  padding: 0.5rem;
}
