@import url('http://fonts.cdnfonts.com/css/print-clearly');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}

:root{
  ---brad: 0.5em;
}

body{
  font-family: 'Print Clearly', sans-serif;
}
