.orglist-card{
    border: black solid 1px;
    padding: 1rem;
    border-radius: var(---brad);
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-gap: 1rem;
    background-color: var(---el1-col);
}

.orglist-loading,.orglist-card{
    animation: fade-in ease-in 1s forwards;
}

.orglist-wrap{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.otop-wrap{
    display: flex;
    justify-content: space-between;
}

.org-name{
    font-size: 1.6rem;
}

.prop-count{
    font-size: 3rem;
    font-weight: 600;
}
.oprop-wrap{
    text-align: center;
}

.orgbtn-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.prop-stat{
    font-size: 2rem;
    font-weight: 600;
}
.user-stats{
    margin: 1rem 0;
    padding: 1rem;
    border: var(---brdr-col) solid 1px;
    background-color: var(---el1-col);
    border-radius: var(---brad);
}
.userstats-wrap{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    
}

.chart{
    width: 100%;
    height: 500px;    
}

.logo-thumb{
    width: 100px;
    height: 100px;
}

.thumb-wrap{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1400px) {
    .orglist-wrap{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
  }
}

@media screen and (max-width: 730px) {
  .orglist-wrap{
      border: orange solid 1px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}
}

@media screen and (max-width: 400px) {
  .orglist-wrap{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
}
}