.prop-card{
    border: var(---brdr-col) solid 1px;
    padding: 1rem;
    border-radius: var(---brad);
    background-color: var(---el1-col);
}

.proplist-wrap{
    width: 80%;
    display: grid;
    grid-template-rows: repeat(auto,auto);
    grid-gap: 1rem;
    margin: auto;
}

.title-wrap{
    display: flex;
    justify-content: space-between;
}

.prop-created{
    text-align: center;
    word-wrap: break-word;
    margin: 1rem 0;
}

.time-wrap{
    display: flex;
    justify-content: space-between;
}

.desc-wrap{
    margin: 1.5rem 0;
}

.vote-count{
    text-align: center;
    font-size: 2rem;
    margin: 0.5rem 0;
}
.form-wrap{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem 0;
}
.vote-input{
    min-width: 3rem!important;
    text-align: center;
    font-size: 1rem;
}

.vote-side-down{
    display: grid;
    grid-template-columns: 0.1fr 1fr;
}

.vote-side-up{
    display: grid;
    grid-template-columns: 1fr 0.1fr;
}

.vote-btn-up,
.vote-btn-down{
    font-size: 2.5rem;
    display: flex;
    border: none;
    cursor: pointer;
}

.mint-btn{
    margin: 3rem 0;
    text-align: center;
}

.vote-end-wrap{
    text-align: center;
}

.result-stats{
    display: flex;
    justify-content: space-evenly;
}

.result-outcome{
    display: flex;
    align-items: center;
    font-weight: 600;
}